.section {
  width: 100%;
  text-align: center;
  background-color: #444;
  height: 350px;
  margin-bottom: 150px; }
  .section .work-swag {
    background-image: -webkit-linear-gradient(transparent, transparent), url("imgs/work.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 200px;
    font-weight: 200;
    text-align: center;
    font-family: "Mandali", sans-serif; }
  .section .play-swag {
    background-image: -webkit-linear-gradient(transparent, transparent), url("imgs/work.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 200px;
    font-weight: 800;
    text-align: center;
    font-family: "Mandali", sans-serif; }
  .section .content {
    min-height: 100px; }

#play {
  margin-top: 500px; }

.grid-container {
  margin: 40px auto 120px;
  max-width: 1000px;
  width: 90%;
  background-color: red; }
  .grid-container a {
    float: left;
    max-width: 250px;
    width: 33.33333%;
    color: #333; }
  .grid-container figure {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: #333; }
    .grid-container figure img {
      position: relative;
      display: block;
      width: 100%;
      opacity: 0.7;
      transition: opacity 0.3s; }
