@font-face {
  font-family: OstrichBold;
  src: url('fonts/ostrich-sans-master/OstrichSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: OstrichLight;
  src: url('fonts/ostrich-sans-master/OstrichSans-Light.otf') format('opentype');
}

@font-face {
  font-family: OstrichRoundedMedium;
  src: url('fonts/ostrich-sans-master/OstrichSansRounded-Medium.otf')
    format('opentype');
}

@font-face {
  font-family: Bebas;
  src: url('fonts/BebasNeue.otf') format('opentype');
}

.section {
  width: 100%;
  text-align: center;
  background-color: #333;
  height: 350px;
  margin-bottom: 150px;

  .work-swag {
    color: white;
    font-size: 200px;
    font-weight: 200;
    text-align: left;
    font-family: Bebas;
    padding-left: 50px;
    letter-spacing: 10px;
  }

  .play-swag {
    color: white;
    font-size: 200px;
    font-weight: 800;
    text-align: right;
    font-family: Bebas;
    padding-right: 100px;
    letter-spacing: 10px;
  }
  .content {
    min-height: 100px;
  }
}

#play {
  margin-top: 500px;
  padding-bottom: 25px;
}

.grid-container {
  margin: 50px auto 120px;
  max-width: 1000px;
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;

  svg {
    top: -1px;
    path {
      fill: #333;
      transition: fill 0.3s ease-in;
    }
  }

  > div,
  > a {
    float: left;
    max-width: 250px;
    min-height: 500px;
    display: inline !important;
    width: 23%;
    color: #333;

    &:hover {
      .title {
        h2 {
          color: #333;
        }
        h2,
        p {
          transform: translateY(-3px);
        }
        p {
          opacity: 0;
        }
      }
      figure img {
        opacity: 1;
      }
      figure button {
        opacity: 1;
        transform: translateY(-50%) scale(1);
      }

      svg {
        border-bottom: none;
        border-right: none;
        path {
          fill: #333;
        }
      }
    }
  }
  figure {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: #fff;

    button {
      position: relative;
      top: 50%;
      left: 0;
      min-width: 200px;
      background: transparent;
      color: #333;
      opacity: 0;
      transform: translateY(-50%) scale(0.25);
      > span {
        display: block;
        text-decoration: underline;
        margin-top: 25px;
      }

      ul li {
        margin: 5px 0px;
        > a {
          position: relative;
          display: block;
          width: 100%;
          text-align: right;
          font-size: 10px;
          color: #333;
          &:before {
            content: '>';
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            color: #333;
            transition: all 0.1s ease-out;
            -webkit-transition: all 0.1s ease-out;
            -moz-transition: all 0.1s ease-out;
            -ms-transition: all 0.1s ease-out;
            -o-transition: all 0.1s ease-out;
          }
          &:hover {
            &:before {
              left: 10px;
            }
          }
        }
      }
    }
    button.construction {
      background-color: yellow !important;
    }
  }
  .title {
    position: absolute;
    top: 0;
    z-index: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    h2 {
      font-family: Bebas;
      margin-top: 0;
      margin-bottom: 0;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 200%;
      transition: all 0.2s;
    }
    p {
      font-family: OstrichLight;

      padding: 0 0px;
      margin-top: 0px;
      color: white;
      font-size: 25px;
      letter-spacing: 1px;
      font-weight: 800;
      transition: opacity 0.2s, transform 0.2s;
    }
    h2,
    p,
    button {
      transform: translateY(30px);
      backface-visibility: hidden;
    }
    button {
      position: absolute;
      padding: 4px 10px;
      border: 2px solid #333;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;

      transition: opacity 0.2s, transform 0.2s;
    }
  }
}

@media screen and (max-width: 992px) {
  .grid-container {
    max-width: 500px;
    > div,
    > a {
      width: 50%;
    }
    .title {
      h2 {
        margin-bottom: 0px;
        transform: translateY(20px);
      }
      p {
        margin: 0;
        padding: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    max-width: 250px;
    > div,
    > a {
      width: 100%;
    }
  }
}

.clearfix:after {
  content: ' '; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
