header{
  background:rgb(36, 36, 36);
  height: 180px;
}

.page-header{
  margin-bottom:25px;
  color:white ;
}

.page-header a{
  color: gray;

}

.page-header span{
  color: gray;
}



.section-header{
  position: relative;
  top:50px;
}


section{
  height:600px;
  background: rgb(36, 36, 36);
  color:white;
}

.white{
  position:relative;
  width:100%;
  height:10px;
  background:white;
}